{
    "mongodb_uri": "mongodb://localhost:27017/pritunl",
    "log_path": "/var/log/pritunl.log",
    "static_cache": true,
    "temp_path": "/tmp/pritunl_1bff35c447bd486ba7dd8cf9815b72ba",
    "bind_addr": "0.0.0.0",
    "www_path": "/usr/share/pritunl/www",
    "local_address_interface": "auto",
    "port": 443
}
